<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Dennis Gonzalez">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body style="display: flex; flex-direction: column; min-height: 100vh;">
    <main style="flex: 1;">
        <!-- Título del contenido principal -->
        <h3 id="mainTitle" class="text-center mt-4"></h3>
        <!-- Imagen de usuario centrada -->
        <img src="../../resources/img/user.png" class="mx-auto d-block" width="100">
        <!-- Formulario para iniciar sesión -->
        <form class="card mx-auto mt-4 d-none" style="max-width: 500px;" id="loginForm">
            <div class="card-body">
                <div class="mb-3">
                    <label for="alias" class="form-label">Alias</label>
                    <input id="alias" type="text" name="alias" class="form-control" placeholder="Ingresa tu alias"
                        required>
                </div>
                <div class="mb-3">
                    <label for="clave" class="form-label">Contraseña</label>
                    <input id="clave" type="password" name="clave" class="form-control"
                        placeholder="Ingresa tu contraseña" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark w-100 p-3"><i class="bi bi-send"></i> Enviar</button>
                </div>
            </div>
        </form>
        <!-- Formulario para crear el primer administrador -->
        <form class="card mx-auto mt-4 d-none" style="max-width: 500px;" id="signupForm">
            <div class="card-body">
                <div class="mb-3">
                    <label for="nombreAdministrador" class="form-label">Nombre</label>
                    <input id="nombreAdministrador" type="text" name="nombreAdministrador" class="form-control"
                        placeholder="Ingresa tu nombre" required>
                </div>
                <div class="mb-3">
                    <label for="apellidoAdministrador" class="form-label">Apellido</label>
                    <input id="apellidoAdministrador" type="text" name="apellidoAdministrador" class="form-control"
                        placeholder="Ingresa tu apellido" required>
                </div>
                <div class="mb-3">
                    <label for="correoAdministrador" class="form-label">Correo</label>
                    <input id="correoAdministrador" type="email" name="correoAdministrador" class="form-control"
                        placeholder="Ingresa tu correo" required>
                </div>
                <div class="mb-3">
                    <label for="aliasAdministrador" class="form-label">Alias</label>
                    <input id="aliasAdministrador" type="text" name="aliasAdministrador" class="form-control"
                        placeholder="Ingresa un alias" required>
                </div>
                <div class="mb-3">
                    <label for="claveAdministrador" class="form-label">Contraseña</label>
                    <input id="claveAdministrador" type="password" name="claveAdministrador" class="form-control"
                        placeholder="Ingresa tu contraseña" required>
                </div>
                <div class="mb-3">
                    <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                    <input id="confirmarClave" type="password" name="confirmarClave" class="form-control"
                        placeholder="Confirma tu contraseña" required>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="reset" class="btn btn-outline-secondary px-4 py-2"><i class="bi bi-x-circle"></i>
                        Cancelar</button>
                    <button type="submit" class="btn btn-primary px-4 py-2"><i class="bi bi-save"></i>
                        Guardar</button>
                </div>
            </div>
        </form>

    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/index.js"></script>
</body>

</html>