<!DOCTYPE html>
<html lang="es">

<head>
    <title>Detalles del Producto</title>
    <meta charset="utf-8">
    <meta name="author" content="Dennis Gonzalez">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">

</head>

<body style="display: flex; flex-direction: column; min-height: 100vh;">
    <main style="flex: 1;">
        <h4 id="mainTitle"></h4>
        <div class="card mb-4 shadow-sm">
            <div class="row g-0">
                <div class="col-md-4">
                    <img id="imagenProducto" class="img-fluid rounded-start" alt="Imagen del producto">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 id="nombreProducto" class="card-title mb-3"></h3>
                        <p id="descripcionProducto" class="card-text mb-3"></p>

                        <!-- Calificación -->
                        <div class="col my-2">
                            <span class="me-2">Calificación:</span>
                            <div id="averageRatingStars" class="d-inline"></div>
                            <span id="averageRatingValue" class="ms-2"></span>
                        </div>
                        <!-- Precio -->
                        <div class="col my-2">
                            <p class="card-text mb-2 badge bg-success text-light fs-6"><strong>Precio:</strong> $<span
                                    id="precioProducto"></span></p>
                        </div>
                        <!-- Existencias -->
                        <div class="col my-2">
                            <p class="card-text mb-2 badge bg-light text-dark fs-6"><strong>Existencias:</strong> <span
                                    id="existenciasProducto"></span></p>
                        </div>


                        <!-- Formulario de compra -->
                        <form id="shoppingForm">
                            <input type="hidden" id="idProducto" name="idProducto">
                            <div class="mb-3">
                                <label for="cantidadProducto" class="form-label">Cantidad</label>
                                <input type="number" id="cantidadProducto" name="cantidadProducto" min="1"
                                    class="form-control" required>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-dark">
                                    <i class="bi bi-cart-plus-fill"></i> Comprar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Formulario para agregar comentarios -->
        <div id="addCommentSection">
            <h5>Agregar Comentario</h5>
            <!-- Formulario para agregar un comentario -->
            <form id="addCommentForm">
                <input type="hidden" id="commentIdProducto" name="idProducto">
                <div class="form-group mb-3">
                    <label for="commentCalificacion" class="form-label">Calificación</label>
                    <div id="ratingStars" class="d-inline-flex" style="font-size: 2rem; color: black;">
                        <!-- Estrellas dinámicas generadas con JavaScript -->
                    </div>
                    <input type="hidden" id="commentCalificacion" name="calificacion" value="0">
                </div>
                <div class="form-group mb-3">
                    <label for="commentText" class="form-label">Comentario</label>
                    <textarea id="commentText" name="comentario_producto" class="form-control" rows="3"></textarea>
                </div>
                <div class="col-12 d-flex justify-content-end"><button type="submit"
                        class="btn btn-dark py-3 btn-lg">Agregar Comentario</button></div>
            </form>

        </div>
        <!-- Sección de Comentarios -->
        <div class="container mt-4">
            <h5>Comentarios del Producto</h5>
            <div id="commentsContainer"></div>
        </div>
    </main>

    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <script type="text/javascript" src="../../controllers/public/product_detail.js"></script>
</body>

</html>