<!DOCTYPE html>
<html lang="es">

<head>
    <title>Perfil de Usuario</title>
    <meta charset="utf-8">
    <meta name="author" content="Dennis Gonzalez">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">

</head>

<body style="display: flex; flex-direction: column; min-height: 100vh;">
    <!-- Contenedor principal con flexbox para centrar -->
    <main style="flex: 1;">
        <div class="container py-5">
            <div class="row justify-content-center">
                <!-- Formulario de perfil -->
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4 id="mainTitle"></h4>
                            <form class="row g-3" id="profileForm">
                                <!-- Campo oculto para el token de reCAPTCHA -->
                                <input type="text" class="d-none" id="gRecaptchaResponse" name="gRecaptchaResponse">

                                <!-- Nombre -->
                                <div class="col-sm-12 col-md-6">
                                    <label for="nombreCliente" class="form-label">Nombre</label>
                                    <input type="text" id="nombreCliente" name="nombreCliente" class="form-control" required>
                                </div>

                                <!-- Apellido -->
                                <div class="col-sm-12 col-md-6">
                                    <label for="apellidoCliente" class="form-label">Apellido</label>
                                    <input type="text" id="apellidoCliente" name="apellidoCliente" class="form-control" required>
                                </div>

                                <!-- Correo electrónico -->
                                <div class="col-sm-12">
                                    <label for="correoCliente" class="form-label">Correo electrónico</label>
                                    <input type="email" id="correoCliente" name="correoCliente" maxlength="100" class="form-control" required>
                                </div>

                                <!-- DUI -->
                                <div class="col-sm-12 col-md-6">
                                    <label for="duiCliente" class="form-label">DUI</label>
                                    <input type="text" id="duiCliente" name="duiCliente" placeholder="00000000-0" class="form-control" required>
                                </div>

                                <!-- Teléfono -->
                                <div class="col-sm-12 col-md-6">
                                    <label for="telefonoCliente" class="form-label">Teléfono</label>
                                    <input type="text" id="telefonoCliente" name="telefonoCliente" placeholder="0000-0000" class="form-control" required>
                                </div>

                                <!-- Fecha de nacimiento -->
                                <div class="col-sm-12 col-md-6">
                                    <label for="nacimientoCliente" class="form-label">Nacimiento</label>
                                    <input type="date" id="nacimientoCliente" name="nacimientoCliente" class="form-control" required>
                                </div>

                                <!-- Dirección -->
                                <div class="col-sm-12">
                                    <label for="direccionCliente" class="form-label">Dirección</label>
                                    <input type="text" id="direccionCliente" name="direccionCliente" maxlength="250" class="form-control" required>
                                </div>

                                <!-- Botón de guardar -->
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-dark"><i class="bi bi-save"></i> Guardar cambios</button>
                                </div>
                            </form>

                            <!-- Enlace para cambiar contraseña -->
                            <div class="text-center p-3">
                                <button type="button" class="btn btn-dark" onclick="openPassword()">
                                    <i class="bi bi-shield-lock"></i> Cambiar contraseña
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para cambiar la contraseña -->
        <div class="modal fade" id="passwordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle">Cambiar contraseña</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="passwordForm">
                        <div class="modal-body row g-3">
                            <div class="col-sm-12 col-md-6 offset-md-3">
                                <label for="claveActual" class="form-label">Contraseña actual</label>
                                <input id="claveActual" type="password" name="claveActual" class="form-control" required>
                            </div>
                            <div class="col-12 text-center">
                                <span>CONTRASEÑA NUEVA</span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="claveNueva" class="form-label">Contraseña</label>
                                <input id="claveNueva" type="password" name="claveNueva" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                                <input id="confirmarClave" type="password" name="confirmarClave" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-dark">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <script type="text/javascript" src="../../controllers/public/profile.js"></script>
</body>

</html>
