<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Título del documento -->
    <title>Formulario de Registro</title>

    <!-- Metadatos de la página web -->
    <meta charset="utf-8" />
    <meta name="author" content="Dennis Gonzalez" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png" />
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css" />

</head>

<body>
    <!-- Sección de contenido principal -->
    <main class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Formulario para crear cuenta -->
                <div class="col-12 col-md-8 col-lg-6 py-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4 id="mainTitle"></h4>

                            <form id="signupForm">
                                <!-- Campo oculto para asignar el token del reCAPTCHA -->
                                <input type="text" class="d-none" id="gRecaptchaResponse" name="gRecaptchaResponse" />

                                <!-- Nombre -->
                                <div class="mb-3">
                                    <label for="nombreCliente" class="form-label">Nombre</label>
                                    <input type="text" id="nombreCliente" name="nombreCliente" class="form-control" required />
                                </div>

                                <!-- Apellido -->
                                <div class="mb-3">
                                    <label for="apellidoCliente" class="form-label">Apellido</label>
                                    <input type="text" id="apellidoCliente" name="apellidoCliente" class="form-control" required />
                                </div>

                                <!-- Correo electrónico -->
                                <div class="mb-3">
                                    <label for="correoCliente" class="form-label">Correo electrónico</label>
                                    <input type="email" id="correoCliente" name="correoCliente" maxlength="100" class="form-control" required />
                                </div>

                                <!-- DUI -->
                                <div class="mb-3">
                                    <label for="duiCliente" class="form-label">DUI</label>
                                    <input type="text" id="duiCliente" name="duiCliente" placeholder="00000000-0" class="form-control" required />
                                </div>

                                <!-- Teléfono -->
                                <div class="mb-3">
                                    <label for="telefonoCliente" class="form-label">Teléfono</label>
                                    <input type="text" id="telefonoCliente" name="telefonoCliente" placeholder="0000-0000" class="form-control" required />
                                </div>

                                <!-- Fecha de Nacimiento -->
                                <div class="mb-3">
                                    <label for="nacimientoCliente" class="form-label">Nacimiento</label>
                                    <input type="date" id="nacimientoCliente" name="nacimientoCliente" class="form-control" required />
                                </div>

                                <!-- Contraseña -->
                                <div class="mb-3">
                                    <label for="claveCliente" class="form-label">Contraseña</label>
                                    <input type="password" id="claveCliente" name="claveCliente" class="form-control" required />
                                </div>

                                <!-- Confirmar Contraseña -->
                                <div class="mb-3">
                                    <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                                    <input type="password" id="confirmarClave" name="confirmarClave" class="form-control" required />
                                </div>

                                <!-- Dirección -->
                                <div class="mb-3">
                                    <label for="direccionCliente" class="form-label">Dirección</label>
                                    <input type="text" id="direccionCliente" name="direccionCliente" maxlength="250" class="form-control" required />
                                </div>

                                <!-- Términos y condiciones -->
                                <div class="form-check mb-4">
                                    <input type="checkbox" class="form-check-input" id="condicion" name="condicion" required />
                                    <label class="form-check-label" for="condicion">Acepto los términos y condiciones</label>
                                </div>

                                <!-- Botones -->
                                <div class="d-flex justify-content-between">
                                    <a href="login.html" class="btn btn-outline-secondary">
                                        <i class="bi bi-x-square-fill"></i> Cancelar
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-person-fill"></i> Registrar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Inclusión de la librería de mascaras. Para más información https://github.com/text-mask/text-mask -->
    <script type="text/javascript" src="../../resources/js/vanillaTextMask.js"></script>
    <!-- Inclusión de la librería del reCAPTCHA. Para más información https://developers.google.com/recaptcha/docs/v3 -->
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render=6LdBzLQUAAAAAJvH-aCUUJgliLOjLcmrHN06RFXT"></script>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <script type="text/javascript" src="../../controllers/public/register.js"></script>
</body>

</html>
